---
layout: archive
title: "Teaching Assistantship Experience"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<!DOCTYPE html>
<html>
<body>

<h2>Graduate level courses</h2>
<ul style="list-style-type:square;">
  <li>CSCI 5511 -- Artificial Intelligence I</li>
  <li>CSCI 5715 -- Spatial Data Science</li>
</ul>

<h2>Undergraduate level courses</h2>
<ul style="list-style-type:square;">
  <li>CSCI 1133 -- Intro to Programming Concepts</li>
  <li>CSCI 1913 -- Intro to Algorithms & Program Development</li>
  <li>CSCI 1933 -- Intro Algorithms & Data Structures</li>
  <li>CSCI 3081W -- Program Design & Development</li>
  <li>CSCI 4511W -- Intro: Artificial Intelligence</li>
</ul>


</body>
</html>