---
layout: archive
title: "Teaching Assistantship Experience"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

Graduate level courses
======
* CSCI 5511 -- Artificial Intelligence I
* CSCI 5715 -- Spatial Data Science

Undergraduate level courses
======
* CSCI 1133 -- Intro to Programming Concepts
* CSCI 1913 -- Intro to Algorithms & Program Development
* CSCI 1933 -- Intro Algorithms & Data Structures
* CSCI 3081W -- Program Design & Development
* CSCI 4511W -- Intro: Artificial Intelligence 