---
---

.project-section {
  .project-intro {
    margin-bottom: 0.08em;  // Reduce space between intro and list
  }

  .project-list {
    margin-top: 0;  // Remove default top margin of list
    margin-bottom: 1em;  // Increase space after the list

    li {
      margin-bottom: 0.05em;  // Reduce space between list items
      line-height: 1.0;  // Reduce line height for closer spacing
    }
  }
}

.past-work {
  margin-top: 0em;  // Increase space before this section
}