---
---

.project-section {
  .project-intro {
    margin-bottom: 0.08em;  // Reduce space between intro and list
  }

  .project-list {
    margin-top: 0;  // Remove default top margin of list
    margin-bottom: 1em;  // Increase space after the list
  }
}

.past-work {
  margin-top: 0em;  // Increase space before this section
}